/* 
=========================
Bass css here
========================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
.btn {
  display: inline-block;
  background: #f31746;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 5px;
}
.title-box {
  text-align: center;
}
.heading-title {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
}
.heading-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: #f31746;
  border-radius: 5px;
}
.heading-title::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 2px;
  background: #f31746;
  border-radius: 5px;
}
.section {
  padding-top: 100px;
  padding-bottom: 20px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.input-money {
  display: block;
  margin: 20px auto;
  width: 50%;
  border-bottom: 1px solid #f31746;
  outline: none;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  font-size: 18px;
  padding: 10px 30px;
}
/* 
==============================
header section style here 
==============================
 */
header {
  background: url(images/donation2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.hero-text {
  text-align: center;
  color: #fff;
  z-index: 2;
}
.hero-text h1 {
  font-size: 48px;
  letter-spacing: 1px;
  font-weight: 600;
}
.hero-text p {
  width: 55%;
  margin: 1rem auto;
  color: rgb(223, 218, 218);
  font-size: 14px;
  font-weight: 500;
}
/* 
==============================
Donate Now section style here 
==============================
 */
.donate-box {
  text-align: center;
}
.money-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 80px;
}
.money-wrap {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: rgb(240, 235, 235);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.money-wrap:hover {
  border: 1px solid #f31746;
  background: #f3d2da;
  color: #f31746;
}
.donate-money-other {
  margin-top: 40px;
}
/* 
==============================
donate plan now section style here 
==============================
 */
.donate-plan {
  text-align: center;
}
.plan-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 80px;
}
.plan-wrap {
  width: 300px;
  padding: 20px 16px;
  border: 1px solid #f77b96;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
  transform: translateY(0px);
}
.plan-wrap .icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}
.plan-wrap .icon img {
  width: 50%;
}
.plan-wrap:hover .icon {
  border: 2px solid #f76685;
  background-color: #f76685;
}
.plan-wrap:hover {
  transform: translateY(-20px);
}
.plan-wrap h2 {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}
.plan-wrap p {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}
/* 
==============================
Blog section style here 
==============================
 */
.post-section {
  display: flex;
  margin-top: 80px;
}
.current-post {
  width: 65%;
  border-right: 1px solid gray;
}
.feature-post {
  width: 35%;
}
.current-post-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.current-post-image {
  width: 40%;
  padding-right: 30px;
  height: auto;
}
.current-post-text {
  width: 60%;
  padding-right: 30px;
}
.current-post-image img {
  width: 100%;
}
.time-date {
  display: flex;
  align-items: center;
  gap: 20px;
}
.time-date small {
  color: #f76685;
  text-transform: uppercase;
  font-weight: 600;
}
.time-date p {
  color: #f76685;
  font-weight: 600;
}
.time-date p span {
  color: gray;
  margin-right: 9px;
}
.current-post-text h3 {
  font-weight: 600;
  margin-top: 9px;
  margin-bottom: 9px;
  cursor: pointer;
  color: #06091a;
  font-size: 16px;
  transition: 0.3s;
}
.current-post-text h3:hover {
  color: #54023a;
}
.current-post-text .text {
  font-size: 14px;
  color: gray;
  font-weight: 400;
  margin-bottom: 8px;
}
.current-post-text .reading {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  color: #f31746;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
}
.current-post-text .reading:hover {
  color: #c4062f;
}
/* feature blog section  */
.feature-post-text {
  padding: 10px 10px 10px 30px;
}
.feature-post-text ul li {
  padding: 20px 0;
  border-bottom: 1px solid gray;
  font-size: 16px;
  font-weight: 600;
  color: #06091a;
  transition: 0.3s;
  cursor: pointer;
}
.feature-post-text ul li:hover {
  color: #f31746;
}
.feature-post-text ul li:last-child {
  border-bottom: none;
}
/* 
==============================
Newsletter section style here 
==============================
 */
.newsletter {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("images/donation13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 70px 0;
  margin-top: 60px;
}
.news-title h3 {
  color: #f31746;
  font-size: 20px;
  font-weight: 600;
}
.news-title h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}
.suscribe {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suscribe .btn {
  border-radius: 0px 5px 5px 0;
  padding: 10px 20px;
  height: 50px;
  outline: none;
  border: none;
}
.suscribe .sub-input {
  padding: 12px 15px;
  border: none;
  display: inline-block;
  outline: none;
  width: 40%;
  height: 50px;
  font-size: 16px;
  color: #f31746;
  border-radius: 5px 0 0 5px;
}
